<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Libs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/stylesheets/secondpagestyle.css">
</head>

<body>
    <span class="main-title second-title">Generate a Random Word</span>
    <div>
        <h1>Random Adjective</h1>
        <FORM NAME="WordForm">
            <INPUT TYPE=TEXT NAME="WordBox" id="wordbox"><BR>
            <INPUT TYPE=BUTTON VALUE="Generate" onClick="PickRandomWord(document.WordForm);" id="adjective">
        </FORM>

        <h1>Random Adverb</h1>
        <FORM NAME="WordForm">
            <INPUT TYPE=TEXT NAME="WordBox" id="wordbox"><BR>
            <INPUT TYPE=BUTTON VALUE="Generate" onClick="PickRandomWord(document.WordForm);" id="adverb">
        </FORM>

        <h1>Random Noun</h1>
        <FORM NAME="WordForm">
            <INPUT TYPE=TEXT NAME="WordBox" id="wordbox"><BR>
            <INPUT TYPE=BUTTON VALUE="Generate" onClick="PickRandomWord(document.WordForm);" id="noun">
        </FORM>

        <h1>Random Verb</h1>
        <FORM NAME="WordForm">
            <INPUT TYPE=TEXT NAME="WordBox" id="wordbox"><BR>
            <INPUT TYPE=BUTTON VALUE="Generate" onClick="PickRandomWord(document.WordForm);" id="verb">
        </FORM>
    </div>
    </main>
    <script src="randomword.js"></script>
    <script src="handlebars.js"></script>
    <script src="handlebars.form-helpers.js"></script>
</body>

</html>