
<div class="choose-template-bg sparkle">
<div class="container choose-template-container">
    <h1 class="choose-template-title text-center">Which template would you like to play?</h1>
  <div class="list-group choose-template-list fs-4">
        <button type="button" class="list-group-item list-group-item-action choose-btn" id = "first-template" value = "What Happens when a Unicorn Poops?">What Happens when a Unicorn Poops?</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn" value ="My Coding Bootcamp Experience" id="coding-template-button">My Coding Bootcamp Experience</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn"value ="The Year 2020">The Year 2020</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn" value = "You Know You're a 90's Kid If...">You Know You're a 90's Kid If...</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn" value="Halloween is the Best!">Halloween is the Best!</button>
</div>

</div>
</div>
<script src="/javascript/choose-template.js"></script>
<script src="javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>

{{!--<script src= "/javascript/dashboard-routes.js"></script>--}}

