<div class="choose-template-bg">
<div class="container choose-template-container">
    <h1 class="choose-template-title text-center">Which template would you like to play?</h1>
  <div class="list-group choose-template-list">
        <button type="button" class="list-group-item list-group-item-action" id = "first-template" value = "Unicorns and Rainbows"> Unicorns and Rainbows</button>
        <button type="button" class="list-group-item list-group-item-action" >story.title</button>
        <button type="button" class="list-group-item list-group-item-action">Template 3</button>
        <button type="button" class="list-group-item list-group-item-action">Template 4</button>
        <button type="button" class="list-group-item list-group-item-action">Template 5</button>
</div>

</div>
</div>
<script src="/javascript/choose-template.js"></script>
