
<div class="choose-template-bg">
<div class="container choose-template-container">
    <h1 class="choose-template-title text-center">Which template would you like to play?</h1>
  <div class="list-group choose-template-list fs-4">
        <button type="button" class="list-group-item list-group-item-action choose-btn" id = "first-template" value = "What Happens when a Unicorn Poops?">What Happens when a Unicorn Poops?</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn" >Template 2</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn">Template 3</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn">Template 4</button>
        <button type="button" class="list-group-item list-group-item-action choose-btn">Template 5</button>
</div>

</div>
</div>
<script src="/javascript/choose-template.js"></script>

{{!--<script src= "/javascript/dashboard-routes.js"></script>--}}
