<p class= 'note-pad-paragraph'>Unicorns aren't like other (plural noun); they're (adjective). They look like (plural noun; animals), with (plural noun) for feet and a (adjective) mane of hair. But unicorns are (color) and have a (adjective) (noun) on their heads. Some (plural noun) don't believe unicorns are (adjective) but I believe in them. I would love to (verb) a unicorn to faraway (plural noun). One thing I've always (verb ending in -ed) about is whether unicorns (verb) rainbows, or is their (noun) (adjective) like any other animals? </p>

{{!--sourced from - https://www.woojr.com/unicorn-activity-pages-for-kids/unicorn-mad-libs/--}}

{{!--<p>Unicorns aren't like other (plural noun); they're (adjective). They look like (plural noun; animals), with (plural noun) for feet and a (adjective) mane of hair. But unicorns are (color) and have a (adjective) (noun) on their heads. Some (plural noun) don't believe unicorns are (adjective) but believe in them. I would love to (verb) a unicorn to faraway (plural noun). One thing I've always (verb ending in -ed) about is whether unicorns (verb) rainbows, or is their (noun) (adjective) like any other animals? </p>}}

unicornArray = [plural noun,adjective, plural noun (animals),plural noun, adjective,color,adjective, noun, plural noun, adjective, verb, plural noun, verb ending in -ed, verb, noun, adjective]