<div class="note-pad-bg">
<div class="container note-pad">

  <p class ='note-pad-paragraph fs-5'>Grab some friends and get ready to play the best word game of all time! The form field will prompt you to enter a word that matches a particular part of speech or category. Pay attention to the theme of your template and use your creative energy to come up with the funniest, most outrageous and rediculous words. Keep entering words into the form field until the form field disappears and you are prompted to "generate template". When you click "generate template" you will be presented with your hilarious Mad Lib work of art!</p> 
   <p class="note-pad-title fs-5"> The theme of your template is <span class="text-danger fs-3">"{{story.title}}"...</span> 
  </p> 

 <div class="input-group mb-3 word-input">
        <input type="text" class="form-control" placeholder="place holder" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary bg-info input-button text-white" type="button" id="button-addon2">Submit</button>
 </div>
<div><button class="btn btn-outline-secondary bg-info generate-button hide text-white" type="button" id="button-addon2">generate template!</button></div>
  
</div>
</div>
<script src="/javascript/fill-template.js"></script>

