<div class="note-pad-bg">
<div class="container note-pad">

   <p class="note-pad-paragraph">{{story.title}} </p> 
  <p> this will be a form where the user is prompted for words that match the placeholder text part of speech</p> 
</div>
</div>
