
<div class="card">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form class="login-form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup">
        </div>
        <button type="submit" class="btn btn-primary ps-3 pe-3 me-2">Login</button>
        <a href="/signup">Sign up Instead</a>
    </form>

  </div>
</div>
<script src="/javascript/login.js"></script>