<div class="note-pad-bg">
<div class="container note-pad">
    <h1>Mad Libs Title</h1>
    <button type="button" class="btn btn-primary ms-5 mt-5">Start Template</button>
   

    <p class="blurry-text note-text"> There are many _____ ways to choose a/an ______ to read. First, you could ask for recommendations from your friends and ______. Just don't ask Aunt ____ she only reads ______ books with  _______ - ripping goddesses on the cover. If your friends are no help, try chekcing out the _____ Review in The ______ Times. If the ________ feature there are too ______ for your taste, try comethinga little more low- _______, like _____ : The ________ Magazine, or ______ etc. </p>

    
</div>
</div>
