<div class="saved-template-bg">
<div class="container saved-note-pad">
<div class="saved-container">
{{#each story}}
<p class="fs-2 saved-title">{{title}}</p>
<p class="fs-4 saved-paragraph">{{text}}</p>
{{/each}}








</div>
</div>
</div>