<div class="note-pad-bg">
<div class="container note-pad">
    <h1>Coding Boot Camp</h1>
    <button type="button" class="btn btn-primary ms-5 mt-5">Start Template</button>
    <p class="blurry-text note-text"> A very ambious person decided to attend a Coding Boot Camp. They had dreams of working as a web developer, but never realized the amount of work that would be involved in learning to code. Very early on in the program they learned that Google was your friend and commas and curly braces were not your friend. They spent may days looking around their room for the hidden camera to capture them baning their head on the desk. In the end, this person graduated and was a very happy coder for the rest of their life.</p>
</div>
</div>
