<div class="card bg-dark sign-up-card">
  <div class="card-header bg-dark text-light">Sign up ...</div>
  <div class="card-body">
    <form class="signup-form">
      <div class="mb-3 me-3 ms-3 text-light">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" id="username-signup">
      </div>
      <div class="mb-3 me-3 ms-3 text-light">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 me-3 ms-3 text-light">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
      </div>
      <button type="submit" class="btn btn-primary sign-up-button">Sign up</button>
    </form>
  </div>
 </div> 
 <script src="/javascript/signup.js"></script>
 <script src="/javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>