<div class="completed-template-bg sparkle">
    <div class="container note-pad">

        <h3 class="word-bank-title">Word Cloud</h3>

        <div id="wordcloud" style="height: 300px;">
        </div>
        <script src="/javascript/wordcloud2.js"></script>
        <script src="/javascript/word-cloud.js"></script>
        <script src="/javascript/sparkle.min.js"></script>
        <script src="/javascript/sparkle-header.js"></script>