<div class="completed-template-bg sparkle">
<div class="container note-pad">

    <h3 class="word-bank-title">Word Bank...</h3>
     <p class="random-word-p">Need a little help getting your creative mind working? Click a button to generate a random word! </p>
            
        <div class="input-group mb-3 random-word-container">
            <button class="btn btn-outline-dark btn-info input-button" type="reset" value="verb">verb</button>
            <button class="btn btn-outline-dark btn-info" type="button" value="adjective">adjective</button>
            <button class="btn btn-outline-dark text-black btn-info" type="button" value="adverb">adverb</button>
            <button class="btn btn-outline-dark btn-info" type="button" value="noun">noun</button>
            {{!--<input type="text" class="form-control random-word-input" placeholder="" aria-label="Example text with two button addons">--}}
        </div>
        <p class="random-word text-danger ">bark</p>

                {{!--<div class="container">
                 <div class="row align-items-start">
                    <div class="col">
                    <h3>adjectives</h3>
                    </div>
                    <div class="col">
                    <h3>nouns</h3>
                    </div>
                    <div class="col">
                    <h3>verbs</h3>
                </div>
                </div>--}}

</div>
</div>
 <script src="/javascript/randomword.js"></script>
 {{!--<script src="handlebars.js"></script>--}}
 
<script src="/javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>