
body {
    background-image: url(/images/background-1503863_1280.webp);
    
}
.card {
    
    max-width: 60%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}


a {
    text-decoration: none;
}

header {
    background-color: black;
    margin-bottom: -8px;
    

}

.navbar {
    background-color: black;
}

.main-title {
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight:900;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: rgb(57, 57, 247);
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.second-title {
    background-color: black;
  color: hotpink;
  font-size: smaller;
    
}

.nav-link {
    color: yellow;
    font-weight: bold;
}

h1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.card-header {
    background-color: rgba(170, 164, 164, 0.377);
}

.posted-by {
    font-size: small;
}

.card-title {
    font-size: larger;
    font-weight:500
}

.comment-card {
    max-width: 50%;
    margin-left: 10%;
}
.comment-box {
    max-width: 50%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.comment-user-date {
    font-size: small;
    color: grey;
}

.comment-card {
    background-color: rgba(146, 177, 202, 0.404);
}
.note-pad-bg {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(/images/background-1988348_1280.png);
    background-color: rgba(255, 255, 255, 0.726);
    /*background-color: rgb(17, 197, 182);*/
    padding: 50px;
    
    
}
.note-pad {
    
    background-image: url(/images/legal-pad-979558_1280.webp);
    max-width: 60%;
    min-height: 50vw;
    border-radius: 10px;    
    
}

.note-text {
    margin-left: 100px;
    padding-top: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
 }

 .choose-template-bg {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(/images/memphis-1788465_1280.webp);
    background-color: rgba(255, 255, 255, 0.726);
    /*background-color: rgb(17, 197, 182);*/
    padding: 50px;
 }

 .choose-template-container {
    background-color: black;
    max-width: 50%;
    height: 100vh;
    margin-top: 30px;
 }

 .choose-template-title {
     color: yellow;
     font-size: 1.75rem;
     font-style: italic;
 }

 .choose-template-list {
     margin-left: 10%;
     margin-right: 10%;
 }

 .note-pad-title {
     
     margin-left: 100px;
 }

 .note-pad-paragraph {
    padding-top: 100px;
     margin-left: 100px;
 }

 .word-input {
     max-width: 50%;
     margin-left: 100px;
 }